<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" content="DxwpFTkNMh8dHVcRSx53AwhBGTFRFF0APiB_XWdehwfXzOA4bvzg9bo5" csrf-param="_csrf_token" method-param="_method" name="csrf-token">
    <title>Epic Software Development, LLC</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
<div><div class="bg-white">
  <div class="bg-indigo-900">
    <!-- Header -->
    <div class="relative">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center border-b border-indigo-400 border-opacity-25 py-6 md:justify-start md:space-x-10">
          <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="#">
              <span class="sr-only">Workflow</span>
              <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-orange-400-to-pink-500-gradient.svg" alt="">
            </a>
          </div>
          <div class="-mr-2 -my-2 md:hidden"></div>
          <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
            <h1 class="text-3xl font-extrabold text-white text-center">Epic Software Development, LLC</h1>
          </div>
        </div>
      </div>

      <!--
        Mobile menu, show/hide based on mobile menu state.

        Entering: "duration-200 ease-out"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "duration-100 ease-in"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->
              </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 py-8 sm:pt-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Our Team</h1>
      <p class="max-w-xl mx-auto mt-5 text-xl text-gray-500">We are a young creative team from north america specializing in mobile apps.</p>
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 py-8 sm:pt-12 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Our Apps</h1>
      <p class="flex justify-center mt-10"><a href="https://apps.apple.com/us/developer/epic-software-development/id422500693"><img alt="apple store" style="width: 200px; height: 60px; object-fit: cover;" src="assets/images/appstore.png"></a></p>
    </div>
  </div>

  <!-- Footer -->
  <footer class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:pb-16 lg:px-8 text-center">
    <h2 class="sr-only">Footer</h2>
    <div class="border-t border-gray-200 pt-8 flex justify-center">
      <div class="flex space-x-6 md:order-2"></div>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
        © 2020 Epic Software Development, LLC
      </p>
    </div>
  </footer>
</div>

</div>
  </body>
</html>
